body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.MuiAppBar-root {
  position: static;
  margin-bottom: 16px;
}

.MuiToolbar-root {
  display: flex;
  justify-content: space-between;
}

.MuiTypography-h4 {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MuiContainer-root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.MuiTextField-root {
  margin-bottom: 16px;
}

.MuiBox-root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiGrid-container {
  flex-grow: 1;
}

.MuiCard-root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transition: box-shadow 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.MuiCard-root:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.MuiCardContent-root {
  flex-grow: 1;
}

.MuiCardActions-root {
  justify-content: flex-end;
}

.MuiButton-root {
  transition: background-color 0.3s;
}

.MuiButton-root:hover {
  background-color: #388e3c;
}

.noResults {
  text-align: center;
  color: red;
  padding: 16px;
  border: 1px solid red;
  border-radius: 4px;
  background-color: #ffe6e6;
}
